<section class="advantage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Sé un inversionista <b>Tin</b></p>
                <h1 class="special-text">
                    RECONOCE LAS <br/>
                    VENTAJAS Y BENEFICIOS <br/>
                    PARA TI
                </h1>
            </div>
        </div>

        <div class="line">
            <div class="item">
                <span>01</span>
                <p>Rendimientos mensuales</p>
            </div>
            <div class="item">
                <span>02</span>
                <p>Rentabilidad estable y atractiva.</p>
            </div>
            <div class="item">
                <span>03</span>
                <p>Monto mínimo de inversión: $10.000.000</p>
            </div>
            <div class="item">
                <span>04</span>
                <p>Negociación en el mercado de valores. Es decir puedes vender el título cuando lo consideres.</p>
            </div>
            <div class="item">
                <span>05</span>
                <p>Los TIN son titulos participativos que cuentan con una calificación iAAA, es decir se encuentran en la categoria de alta
                calidad, y estan inscritos en el Registro Nacional de Valores y emisores en la Bolsa de Valores. (RNVE).</p>
            </div>
            <div class="item">
                <span>06</span>
                <p>Sólido Gobierno Corporativo y respaldo institucional.</p>
            </div>
            <div class="item">
                <span>07</span>
                <p>Invertir en este tipo de títulos te evita preocupaciones tipicas que encuentras al invertir en finca raíz de la forma tradicional
                (trámites adiciones, administración del inmueble, altas vacancias, poca liquidez, etc)</p>
            </div>
            <div class="item">
                <span>08</span>
                <p>En la primera emisión las personas naturales como tú, tendrán la prioridad.</p>
            </div>
            <div class="item">
                <span>09</span>
                <p>Riesgo moderado - conservador.</p>
            </div>
            <div class="item">
                <span>10</span>
                <p>Información detallada y oportuna en internet para administrar tu inversión</p>
            </div>
            <div class="item">
                <span>11</span>
                <p>Equipo de expertos independientes y con amplia trayectoria</p>
            </div>
        </div>
    </div>
</section>