<section class="advantage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Sé un inversionista <b>Tin</b></p>
                <h1 class="special-text">
                     VENTAJAS Y BENEFICIOS <br> DE INVERTIR EN TIN
                </h1>
            </div>
        </div>

        <div class="line">
            <div class="item">
                <span>01</span>
                <p>Monto mínimo de inversión: $5.000.000.</p>
            </div>
            <div class="item">
                <span>02</span>
                <p>Rendimientos mensuales más rendimientos de largo plazo por valorización y venta de los inmuebles. 
                    <a class="btn btn-link" ngbPopover="Son Títulos que tendrán una rentabilidad variable que dependerá del comportamiento de las inversiones que conforman la Universalidad
                    TIN">
                        1
                    </a>
            </p>
            </div>
            <div class="item">
                <span>03</span>
                <p>TIN es negociable en el mercado de valores.</p>
            </div>
            <div class="item">
                <span>04</span>
                <p>
                    Los TIN son títulos participativos que cuentan con una calificación (IAAA), y están inscritos en el Registro Nacional de
                    Valores y Emisores – RNVE y en la Bolsa de Valores de Colombia - BVC. 
                    <a class="btn btn-link" ngbPopover="Los títulos están calificados IAAA por Fitch raitings">
                        2
                    </a>
                </p>
            </div>
            <div class="item">
                <span>05</span>
                <p>Vehículo de inversión (universalidad) estructurado con un sólido Gobierno Corporativo, respaldo institucional y un equipo
                de expertos independientes de amplia trayectoria.</p>
            </div>
            <div class="item">
                <span>06</span>
                <p>Sin encargarte de su administración, mantenimiento y venta, inviertes en inmuebles.</p>
            </div>
            <div class="item">
                <span>07</span>
                <p>Rentabilidad con riesgo moderado - conservador.</p>
            </div>
            <div class="item">
                <span>08</span>
                <p> Información detallada y oportuna para administrar tu inversión disponible en la página web de la Titularizadora Colombiana
                S.A.</p>
            </div>
        </div>
    </div>
</section>