@import "../../assets/sass/app-kit/_variables";

.advantage {
    position: relative;
    margin: 200px 0;
}

.line {
    width: 100%;
    position: relative;
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(11, auto);
    justify-content: center;
    align-items: center;
    grid-template-areas: ". uno"
                        "dos ."
                        ". tres"
                        "cuatro ."
                        ". cinco"
                        "seis ."
                        ". siete"
                        "ocho ocho";

    &:after {
        content: "";
        position: absolute;
        top: 40px;
        bottom: 0;
        left: calc(50% - 1px);
        border: 2px solid $danger-color;
    }
    
    .item {
        position: relative;
        background-color: $white-color;
        padding: 12px;
        color: #546066;
        border-radius: 10px;
        border: 1px outset rgba($primary-color, .90);
        z-index: 1;

        

        span {
            display: block;
        }

        &:nth-of-type(odd) {
            p {
                text-align: left;
            }
            span {
                text-align: right;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                z-index: 2;
                width: 20px;
                height: 20px;
                background-color: $danger-color;
                border: 2px solid $white-color;
                border-radius: 50%;
                top: 30px;
                left: -50px;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                z-index: 2; 
                left: -15px;
                top: 30px;
                width: 15px;
                height: 22px;
                background-image: url(../../assets/img/flecha.png);
            }
        }
        &:nth-of-type(even) {
            p {
                text-align: right;
            }
            span {
                text-align: left;
            }
            &:after {
                content: "";
                position: absolute;
                display: block;
                z-index: 2;
                width: 20px;
                height: 20px;
                background-color: $danger-color;
                border: 2px solid $white-color;
                border-radius: 50%;
                top: 30px;
                right: -52px;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                z-index: 2; 
                right: -14px;
                top: 30px;
                width: 14px;
                height: 22px;
                background-image: url(../../assets/img/flecha-o.png);
            }
        }

        &:nth-of-type(1) {
            grid-area: uno;
        }
        &:nth-of-type(2) {
            grid-area: dos;
        }
        &:nth-of-type(3) {
            grid-area: tres;
        }
        &:nth-of-type(4) {
            grid-area: cuatro;
        }
        &:nth-of-type(5) {
            grid-area: cinco;
        }
        &:nth-of-type(6) {
            grid-area: seis;
        }
        &:nth-of-type(7) {
            grid-area: siete;
        }
        &:nth-of-type(8) {
            grid-area: ocho;
        }

        &:last-child {
            max-width: 400px;
            justify-self: center;
            margin-top: 80px;

            &:after {
                display: none;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                z-index: 2; 
                left: calc(50% - 6px);
                top: -18px;
                width: 14px;
                height: 22px;
                background-image: url(../../assets/img/flecha-o.png);
                transform: rotate(-90deg);
            }
            
        }
    }
}