<section class="hero">
    <div class="hero-container">
        <div class="hero-cta">
            <img src="../../assets/img/beneficios.png" alt="Beneficios">

            <div class="box">
                <h4 class="special-text">TIPOS DE RENDIMIENTO</h4>
                <div class="item">
                    <strong>Mensuales:</strong>
                    <p>Generados por el flujo de caja de los cánones de arrendamiento.</p>
                </div>
                <div class="item">
                    <strong>De mediano plazo:</strong>
                    <p>Generados por la valorización comercial y la utilidad en venta de los inmuebles.</p>
                </div>
            </div>
        </div>
        <div class="hero-content">
            <p><b>¡Invertir</b>  ahora es más fácil!</p>
            <h1 class="special-text">
                ¿EN QUÉ VAS A INVERTIR TU DINERO?
            </h1>
            <p>
                Imagina un conjunto de inmuebles de primer nivel, ubicados a lo largo del país, que suman 21.068 M2. Totalmente terminados
                y con contratos de arrendamiento vigentes por periodos entre 10 y 12 años. Este conjunto se agrupará en un vehículo de inversión
                denominado universalidad, y sobre ella es que tu inversión te genera dos tipos de rendimientos: Mensual y de mediano plazo.
            </p>
        </div>
    </div>
</section>