<section class="hero">
    <div class="hero-container">
        <div class="hero-cta">
            <img src="../../assets/img/beneficios.png" alt="Beneficios">

            <div class="box">
                <h4 class="special-text">TIPOS DE RENDIMIENTO</h4>
                <div class="item">
                    <strong>Mensuales:</strong>
                    <p>Generados por los arrendamientos de los inmuebles de los cuales tú serás inversionista.</p>
                </div>
                <div class="item">
                    <strong>De largo plazo:</strong>
                    <p>Generados por la valorización comercial y venta de inmuebles.</p>
                </div>
            </div>
        </div>
        <div class="hero-content">
            <p><b>¡Invertir</b> ahora es más fácil!</p>
            <h1 class="special-text">
                ¿EN QUÉ VAS A INVERTIR TU DINERO?
            </h1>
            <p>
                TIN son títulos inmobiliarios participativos emitidos por un vehículo de inversión (universalidad) que administra la TITULARIZADORA
                COLOMBIANA S.A., que te permiten invertir en un portafolio de inmuebles que se entrega en arriendo a clientes
                corporativos
            </p>
            <hr>
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/aObU2DoZZ6U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="distribution">
    <div class="container distribution-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="special-text">
                    Conoce el portafolio de inmuebles
                </h2>
                <ul>
                    <li>
                        Inmuebles corporativos
                    </li>
                    <li>
                        Con una ocupación del 100% al momento de la emisión.
                    </li>
                    <li>
                        Los contratos de arrendamiento vigentes con Davivienda tienen una duración ponderada promedio restante de 10,06 años con
                        corte a junio de 2018.
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <img src="../../assets/img/benefits.jpg" alt="Beneficios" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="galery">
    <div class="container">
        <div class="row">
            <div class="galery-container">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
</section>


<section class="value">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center special-text">
                     Valor del Portafolio
                </h2>
                <p class="text-center">$156.999.600.000</p>
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <svg width="150px" height="107px" viewBox="0 0 150 107">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-276.000000, -1871.000000)" stroke-width="10">
                            <g transform="translate(281.000000, 1876.000000)">
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FFFFFF"></path>
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FF2A1E" class="uno" transform="translate(70.000000, 48.157245) scale(-1, 1) translate(-70.000000, -48.157245) "></path>
                            </g>
                        </g>
                    </g>
                </svg>

                <p class="number">75%</p>
                <p class="text-center">Locales comerciales</p>
            </div>

            <div class="chart">
                <svg width="150px" height="107px" viewBox="0 0 150 107">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-276.000000, -1871.000000)" stroke-width="10">
                            <g transform="translate(281.000000, 1876.000000)">
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FFFFFF"></path>
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FF2A1E" class="dos" transform="translate(70.000000, 48.157245) scale(-1, 1) translate(-70.000000, -48.157245) "></path>
                            </g>
                        </g>
                    </g>
                </svg>

                <p class="number">25%</p>
                <p class="text-center">Oficina</p>
            </div>
        </div>
    </div>
</section>