<section class="hero">
    <div class="hero-container">
        <div class="hero-cta">
            <img src="../../assets/img/beneficios.png" alt="Beneficios">

            <div class="box">
                <h4 class="special-text">TIPOS DE RENDIMIENTO</h4>
                <div class="item">
                    <strong>Mensuales:</strong>
                    <p>Generados por el flujo de caja de los cánones de arrendamiento.</p>
                </div>
                <div class="item">
                    <strong>De mediano plazo:</strong>
                    <p>Generados por la valorización comercial y la utilidad en venta de los inmuebles.</p>
                </div>
            </div>
        </div>
        <div class="hero-content">
            <p><b>¡Invertir</b>  ahora es más fácil!</p>
            <h1 class="special-text">
                ¿EN QUÉ VAS A INVERTIR TU DINERO?
            </h1>
            <p>
                Imagina un conjunto de inmuebles de primer nivel, ubicados a lo largo del país, que suman 21.068 M2. Totalmente terminados
                y con contratos de arrendamiento vigentes por periodos entre 10 y 12 años. Este conjunto se agrupará en un vehículo de inversión
                denominado universalidad, y sobre ella es que tu inversión te genera dos tipos de rendimientos: Mensual y de mediano plazo.
            </p>
        </div>
    </div>
</section>



<section class="distribution">
    <div class="container distribution-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="special-text">
                    ¿POR QUÉ HABLAMOS DE INMUEBLES DE PRIMER NIVEL?
                </h2>
                <p>
                    Son locales comerciales de hasta 2.000 m2 Locales de grandes superficies superiores a 2.000 m2 Bodegas industriales superiores
                    a 3.000 m2 Parques industriales superiores a 5.000 m2 Oficinas superiores a 6.000 m2 Todos los anteriores son inmuebles terminados
                    con una ocupación del 100% al momento de la emisión. Con arrendatarios corporativos de alto perfil con contratos de largo
                    plazo.
                </p>
            </div>

            <div class="col-md-6">
                <img src="../../assets/img/benefits.jpg" alt="Beneficios" class="img-responsive">
            </div>
        </div>
    </div>
</section>


<section class="value">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center special-text">
                    VALOR INMUEBLES
                </h2>
                <p class="text-center">$137.144 mm</p>
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <svg width="150px" height="107px" viewBox="0 0 150 107">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-276.000000, -1871.000000)" stroke-width="10">
                            <g transform="translate(281.000000, 1876.000000)">
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FFFFFF"></path>
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FF2A1E" class="uno" transform="translate(70.000000, 48.157245) scale(-1, 1) translate(-70.000000, -48.157245) "></path>
                            </g>
                        </g>
                    </g>
                </svg>

                <p class="number">18%</p>
                <p class="text-center">Local a la calle</p>
            </div>

            <div class="chart">
                <svg width="150px" height="107px" viewBox="0 0 150 107">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-276.000000, -1871.000000)" stroke-width="10">
                            <g transform="translate(281.000000, 1876.000000)">
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FFFFFF"></path>
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FF2A1E" class="dos" transform="translate(70.000000, 48.157245) scale(-1, 1) translate(-70.000000, -48.157245) "></path>
                            </g>
                        </g>
                    </g>
                </svg>
            
                <p class="number">38%</p>
                <p class="text-center">Oficina</p>
            </div>

            <div class="chart">
                <svg width="150px" height="107px" viewBox="0 0 150 107">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-276.000000, -1871.000000)" stroke-width="10">
                            <g transform="translate(281.000000, 1876.000000)">
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FFFFFF"></path>
                                <path d="M134.885584,96.314489 C138.183464,88.1907282 140,79.3075014 140,70 C140,31.3400675 108.659932,0 70,0 C31.3400675,0 0,31.3400675 0,70 C0,79.3075014 1.81653584,88.1907282 5.11441622,96.314489"
                                    stroke="#FF2A1E" class="tres"  transform="translate(70.000000, 48.157245) scale(-1, 1) translate(-70.000000, -48.157245) "></path>
                            </g>
                        </g>
                    </g>
                </svg>
            
                <p class="number">38%</p>
                <p class="text-center">Local comercial en PH</p>
            </div>
        </div>
    </div>
</section>