<section class="contact">
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="">
                    INFORMACIÓN DE <br /> CONTÁCTO
                </h4>

                <div class="contact-info">

                    <div class="item">
                        <div class="icon">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            +57 1 618 3030
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            titulosinmobiliarios@tin.com
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            Carrera 9A No.99-02 Piso 7 <br />
                            Bogotá, colombia
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <h4 class="">
                    Ponte en contácto
                </h4>

                <form [formGroup]="rForm" (ngSubmit)="sendData(rForm.value)" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-user"></i>
                            </span>
                            <input class="form-control" placeholder="Nombre" type="text" formControlName="nombre" id="nombre">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['nombre'].valid && rForm.controls['nombre'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-envelope"></i>
                            </span>
                            <input class="form-control" placeholder="Correo electrónico" type="text" formControlName="email"
                                id="email">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-phone"></i>
                            </span>
                            <input class="form-control" placeholder="Teléfono" type="number" formControlName="tel" id="tel">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['tel'].valid && rForm.controls['tel'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-mobile"></i>
                            </span>
                            <input class="form-control" placeholder="Celular" type="number" formControlName="cel" id="cel">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['cel'].valid && rForm.controls['cel'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-user-o"></i>
                            </span>
                            <input class="form-control" placeholder="Ocupación" type="text" formControlName="ocupacion"
                                id="ocupacion">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['ocupacion'].valid && rForm.controls['ocupacion'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="input-icon">
                                <i aria-hidden="true" class="fa fa-map-marker"></i>
                            </span>
                            <input class="form-control" placeholder="Ciudad" type="text" formControlName="ciudad" id="ciudad">
                            <div class="form-control-feedback" *ngIf="!rForm.controls['ciudad'].valid && rForm.controls['ciudad'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea rows="4" cols="50" class="form-control" formControlName="mensaje" id="mensaje"
                                placeholder="Déjanos tus comentarios"></textarea>
                            <div class="form-control-feedback" *ngIf="!rForm.controls['mensaje'].valid && rForm.controls['mensaje'].touched">
                                {{ titleAlert }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="acepta" formControlName="politica">
                                <a href="https://www.titularizadora.com/DownLoadFile.aspx?file=archivos/politicas/politicahabeasdata.pdf"
                                    target="_blank">
                                    <small>Acepto la política de Datos Personales</small>
                                </a>
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-danger btn-lg" type="submit" [disabled]="!rForm.valid">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>