@import "../../../assets/sass/app-kit/_variables";

.nav-item {
  .nav-link {
      transition: color .4s ease-in-out;
    &:hover {
        color: $danger-color;
    }
  }  
}

.navbar-brand {
  img {
    max-height: 80px;
    margin-right: 8px;
  }
}