<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="loader" [@loaderAnimation]="loader">
    <div class="swapping-squares-spinner" :style="spinnerStyle">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
</div>


<div class="caracteristics" *ngIf="caracteristics">
    <img src="../assets/img/abanico.png" alt="Abanico">
</div>

<!-- BTN CTA -->
<button class="btn-danger btn btn-cta" (click)="showCta()">
     CONTÁCTATE CON NOSOTROS
</button>
<!-- BTN CTA -->

<!-- BTN CARACTERISTICS -->
<button class="btn-danger btn btn-caracteristics" (click)="showCaracteristics()">
    CARACTERISTICAS <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</button>
<!-- BTN CARACTERISTICS -->

<!-- Hero Form -->
<div class="main-cta" *ngIf="cta">
    <h4 class="text-center">CONTÁCTATE CON NOSOTROS</h4>
    <form id="formLeads" [formGroup]="rForm" (ngSubmit)="sendData(rForm.value)" autocomplete="off">
        <div class="form-group">
            <span class="input-icon">
                <i aria-hidden="true" class="fa fa-user"></i>
            </span>
            <input class="form-control" placeholder="Nombre" type="text" formControlName="nombre" id="nombre">
            <div class="form-control-feedback" *ngIf="!rForm.controls['nombre'].valid && rForm.controls['nombre'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group">
            <span class="input-icon">
                <i aria-hidden="true" class="fa fa-envelope"></i>
            </span>
            <input class="form-control" placeholder="Correo electrónico" type="text" formControlName="email" id="email">
            <div class="form-control-feedback" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group">
            <span class="input-icon">
                <i aria-hidden="true" class="fa fa-phone"></i>
            </span>
            <input class="form-control" placeholder="Teléfono" type="number" formControlName="tel" id="tel">
            <div class="form-control-feedback" *ngIf="!rForm.controls['tel'].valid && rForm.controls['tel'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group">
            <span class="input-icon">
                <i aria-hidden="true" class="fa fa-mobile"></i>
            </span>
            <input class="form-control" placeholder="Celular" type="number" formControlName="cel" id="cel">
            <div class="form-control-feedback" *ngIf="!rForm.controls['cel'].valid && rForm.controls['cel'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group">
            <span class="input-icon">
                <i aria-hidden="true" class="fa fa-map-marker"></i>
            </span>
            <input class="form-control" placeholder="Ciudad" type="text" formControlName="ciudad" id="ciudad">
            <div class="form-control-feedback" *ngIf="!rForm.controls['ciudad'].valid && rForm.controls['ciudad'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group">
            <textarea rows="4" cols="50" class="form-control" formControlName="mensaje" id="mensaje" placeholder="Déjanos tus conmentarios"></textarea>
            <div class="form-control-feedback" *ngIf="!rForm.controls['mensaje'].valid && rForm.controls['mensaje'].touched">
                {{ titleAlert }}
            </div>
        </div>
        <div class="form-group form-btn">
            <button class="btn btn-danger btn-lg" type="submit" [disabled]="!rForm.valid">Enviar</button>
        </div>
    </form>
</div>
<!-- // Hero Form -->