@import "../../assets/sass/app-kit/_variables";

.structure{
    position: relative;
    padding: 200px 0;
    background-color: #fff;

    @media (max-width: 767px) {
        padding: 100px 0;
    }
}
img {
    max-width: 100%;
    
}