@import "../../assets/sass/app-kit/_variables";

.video {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 550px;
    min-height: 400px;
    height: auto;
    bottom: 80px;
    left: 0;
    overflow: hidden;
    -webkit-box-shadow: -4px -4px 5px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: -4px -4px 5px -2px rgba(0,0,0,0.10);
    box-shadow: -4px -4px 5px -2px rgba(0,0,0,0.10); 
    z-index: 1;
    @media (max-width: 767px) {
        bottom: 0;
        min-height: auto;
        height: auto;
    }
    video {
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 400px;
        object-fit: cover;
        object-position: left center;
        @media (max-width: 767px) {
            bottom: 0;
            min-height: auto;
            height: auto;
            opacity: .7;
        }
    }
}

.hero {

    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
    @media (max-width: 767px) {
        margin-top: 100px;
    }

    &-container {
        max-width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 80px 1fr 340px;

        @media (max-width: 767px){
            max-width: 90%;
            grid-template-columns: 1fr;
            grid-template-rows: 50px 120px 1fr;
            background-size: 60%;
            background-position: right 50px;
        }
    }

    &-social {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        @media (max-width: 767px) {
            justify-content: flex-start;
            align-items: flex-start;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                margin-top: 8px;
                a {
                    color: $medium-gray;
                }
                @media (max-width: 767px) {
                    display: inline-block;
                }
            }
        }
    }

    &-cta {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        h1 {
            margin-top: 0;
            z-index: 2;
            @media (max-width: 767px) {
                font-size: 28px;
            }
        }
        p {
            z-index: 2;
            font-size: 18px;
            font-weight: 100;
            margin-bottom: 20px;
            color: $white-color;
            @media (max-width: 767px) {
                font-size: 14px;
                margin-bottom: 14px;
            }
        }
        .btn-play {
            margin-top: 40px;
            margin-left: 10px;
            position: relative;
            width: 60px;
            height: 60px;
            border: none;
            border-radius: 50%;
            background: rgba(255,41,30,1);
            background: -moz-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,41,30,1)), color-stop(100%, rgba(137,7,0,1)));
            background: -webkit-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
            background: -o-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
            background: linear-gradient(135deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff291e', endColorstr='#890700', GradientType=1 );
            text-align: center;
            font-size: 16px;
            transition: all .2s ease-in-out;
            
            &:before {
                content: "";
                width: 80px;
                height: 80px;
                border: 1px solid $danger-color;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: -10px;
            }
            &:after {
                content: "Ver video";
                display: inline;
                margin-left: 45px;
                color: #484D56;
                font-size: 12px;
            }

            &:hover {
                background-position: 60px 60px;
            }
        }
    }

    &-form {
        background-color: $white-color;
        -webkit-box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.25);
        box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.25);
        padding: 26px 28px;
        position: relative;

        h4 {
            text-align: center;
            color: $primary-color;
            font-weight: 600;
            margin-bottom: 12px;
        }

        .input-group {
            margin-bottom: 8px;
        }
    }
}

// Mitos

.mitos {
    width: 100%;
    position: relative;
    padding: 20px 0;

    h1 {
        margin: 20px 0;
    }
}

.card {
    padding: 24px 24px 42px 24px;
    position: relative;
    border-radius: 0;

    &:hover {
        cursor: pointer;
        background-color: $primary-color;
    }
    &:hover p, &:hover h4, &:hover .number{
        color: $white-color !important;
    }
    &:hover .svg .fill {
        fill: $white-color;
        opacity: 1;
    }
    &-head {
        display: flex;
        justify-content: space-between;

        .number {
            color: #787D88;
            font-size: 20px;
            font-weight: 100;
        }

        .svg {
            .fill {
                fill: #7487CB;
                opacity: 0.56;
                transition: all .7s ease-in-out;
            }
        }
    }
    &-content {
        p {
            color: #878787;
        }
        h4 {
            margin-top: 0;
            color: #484D56;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-action {
        position: absolute;
        bottom: -16px;
    }
}


// Invest section

.invest {
    position: relative;
    width: 100%;
    padding: 40px 0;

    &-content {
        padding: 40px 0;
        display: grid;
        grid-template-columns: 250px 1fr;
        align-items: center;
        @media (max-width: 767px) {
            padding: 0 16px;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
        }

        &:after {
            content: "";
            display: block;
            width: 70%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -80px;
            background-color: $primary-color;
            z-index: 1;
            @media (max-width: 767px) {
                display: none;
            }
        }
        
        .title {
            background-image: url(../../assets/img/quote.png);
            background-size: 150px;
            background-repeat: no-repeat;
            align-self: flex-start;
        }

        .benifist {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;
            z-index: 2;

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-gap: 12px;  
            }
            
            .item {
                position: relative;
                background: rgba(255,41,30,1);
                background: -moz-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
                background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,41,30,1)), color-stop(100%, rgba(137,7,0,1)));
                background: -webkit-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
                background: -o-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
                background: -ms-linear-gradient(-45deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
                background: linear-gradient(135deg, rgba(255,41,30,1) 0%, rgba(137,7,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff291e', endColorstr='#890700', GradientType=1 );
                color: $white-color;
                padding: 22px 32px;
                cursor: pointer;
                transition: all .3s ease-in-out;

                @media (max-width: 767px){
                    padding: 12px 22px;   
                }

                &:hover {
                    background-position: 286px 0px;
                }
                
                &:after {
                    content: "";
                    display: block;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    z-index: 9;
                    background-position: center;
                    background-size: 100%;
                }
                &:nth-of-type(1):after {
                    background-image: url(../../assets/img/benefits.png);
                }
                &:nth-of-type(2):after {
                    background-image: url(../../assets/img/invierte.png);
                }
                &:nth-of-type(3):after {
                    background-image: url(../../assets/img/estructura.png);
                }

                p {
                  font-size: 22px;
                  font-weight: 400;  
                  @media (max-width: 767px){
                     font-size: 14px; 
                  }
                }
                .btn {
                    padding-left: 0;
                    color: $white-color;
                }
            }
        }
    }
}

// Accionistas

.accionist {
    background-color: $white-color;
    padding: 40px 0 140px 0;

    &-logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;
        justify-content: start;
        align-items: center;
        margin: 40px 0 0 0;
        
        @media (max-width: 767px) {
            max-width: 100%;
            overflow-x: scroll;
        }

        .item {
            display: flex;
            justify-content: center;

            img {
                max-height: 40px;
                width: auto;
                @media (max-width: 767px) {
                    max-height: 20px;
                }
            }
        }
    }
}