<footer class="footer"> 
    <div class="footer-cta">
        <p>
            Contáctanos y siguenos en las redes sociale
        </p>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        Email: <a href="mailto:titulosinmobiliarios@tin.com">titulosinmobiliarios@tin.com</a>
                    </li>
                    <li>
                        Contáctanos: <a href="telto:+57 1 618 3030">+57 1 618 3030</a>
                    </li>
                </ul>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/inversion">Inversión</a></li>
                    <li><a routerLink="/estructura">Estructura</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-right">
                    Vigilancia y reconocimientos:
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/logo-footer.png" alt="Titularizadora">
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/logos-footer.png" alt="Logos">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center data">
                    Contácta a nuestros comisionistas autorizados y adquiere tu título
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/img/footer-davivienda.png" alt="">
                <p class="text-center data">
                     Tel: + 57 1 453 4545 <br>
                     www.contacto123.com
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-bancolombia.png" alt="">
                <p class="text-center data">
                    Tel: +57 1 453 4545 <br>
                    www.contacto123.com
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-aliance.png" alt="">
                <p class="text-center data">
                    Tel: + 57 1 453 4545 <br>
                    www.contacto123.com
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-casa-de-bolsa.png" alt="">
                <p class="text-center data">
                    Tel: + 57 1 453 4545 <br>
                    www.contacto123.com
                </p>
            </div>
        </div>
    </div>
</footer>
