<footer class="footer" id="footer"> 
    <div class="footer-cta">
        <p>
            Contáctanos y siguenos en las redes sociales
        </p>
        <ul class="social">
            <li><a href="https://facebook.com/TitularizadoraColombiana/
" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCmpBsS3ED3kJIHqYI5CnIeQ
" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/titularizadora-de-colombia/
" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        Email: <a href="mailto:titulosinmobiliarios@tin.com">titulosinmobiliarios@tin.com</a>
                    </li>
                    <li>
                        Contáctanos: <a href="telto:+57 1 618 3030">+57 1 618 3030</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a routerLink="/">Inicio</a>
                    </li>
                    <li>
                        <a routerLink="/inversion">Inversión</a>
                    </li>
                    <li>
                        <a routerLink="/beneficios">Beneficios</a>
                    </li>
                    <li>
                        <a routerLink="/estructura">estructura</a>
                    </li>
                    <li>
                        <a routerLink="/contacto">contáctenos</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row footer-logos">
            <div class="col-md-6">
                <img src="../../../assets/img/logo-footer.png" alt="Titularizadora">
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/logos-footer.png" alt="Logos">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center data">
                    Contácta a nuestros comisionistas autorizados y adquiere tu título
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/img/footer-davivienda.png" alt="">
                <p class="text-center data">
                     Tel: +57 1 594 16 00 <br>
                     Ext: 92384
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-bancolombia.png" alt="">
                <p class="text-center data">
                     Tel: +57 1 353 52 21 <br>
                     Tel: +57 1 353 52 26
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-aliance.png" alt="">
                <p class="text-center data">
                     Tel: +57 1 646 24 24 <br>
                     Ext: 3105 - 3244 - 3359
                </p>
            </div>

            <div class="col-md-3">
                <img src="../../../assets/img/footer-casa-de-bolsa.png" alt="">
                <p class="text-center data">
                     Tel: +57 1 606 21 00 <br>
                     Ext: 22855 
                </p>
            </div>
            <div class="col-md-12">
                <p class="text-center">
                    <small>Tin: Títulos participativos emitidos en desarrollo de un proceso de titularización e inscritos en el RNVE. Calificación iAAA </small>
                    <br>
                    <a href="https://www.titularizadora.com" target="_blank" style="color:#fff">www.titularizadora.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>
